services:
  node_app:
    build:
      context: .
      target: development
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
      - NODE_ENV=development
    volumes:
      - ./src:/app/src:ro